.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.title {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: #101828;
  margin: 0;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.noReviews {
  font-size: 16px;
  color: #475467;
}
